.AppSrpski {
  position: relative;
  display: flex;
  flex-direction: column;
}

.AppSrpski__containerFirst {
  /* padding-top: 60px; */
  /* background-color: #717171; */
  /* height: 100%; */
  display: flex;
}

.AppSrpski__right {
  position: relative;
}
