.NavFirst {
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
  z-index: 1;
}

.Nav__header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.Nav__headerLogo {
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: white;
}

.Nav__headerText {
  color: white;
  text-decoration: none;
}

.Nav__headerText h3 {
  font-size: 20px;
  font-family: "Andada Pro", serif;
}

.Nav__headerText p {
  font-size: 10px;
}

.Nav__headerLogo img {
  object-fit: contain;
}

.Nav__header button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
