.ProductsSocialNav {
  position: absolute;
  background-color: white;
  color: black;
  width: 100%;
  bottom: 0;
}

.ProductsSocialNav__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.ProductsSocialNav__navProducts {
  display: flex;
  gap: 10px;
}

.ProductsSocialNav__navProducts button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 17px;
  transition: 0.5s ease-in-out;
}

.ProductsSocialNav__navProducts button:hover,
.ProductsSocialNav__social svg:hover {
  opacity: 0.5;
}

.ProductsSocialNav__social {
  display: flex;
  gap: 10px;
}

.ProductsSocialNav__social svg {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: black;
}
